* {
    margin: 0;
    padding: 0;
}

/* =================container css start================ */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

section {
    height: 100vh;
}

#container {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 80px 300px;
}

.bg h1 {
    font-weight: 500;
    font-size: 55px;
    width: 650px;
}

.para {
    font-size: 18px;
    width: 500px;
    padding-left: 70px;
    font-weight: 300;
}

.donate-now {
    background: rgb(255, 104, 87);
    width: 100px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    margin-top: 50px;
    display: inline-block;
    color: white;

}

/* =================container css end================ */

/* =================donate-today css start================ */
#donate-today {
    margin: 150px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#donate-today h2 {
    font-weight: 500;
    font-size: 40px;
}

#donate-today .para1 {
    width: 600px;
    padding: 20px 0px 40px 40px;
    color: rgb(85, 85, 85);
}

#donate-today li {
    list-style: none;
    display: inline-block;
    padding: 30px 20px;
    background: rgb(241, 241, 241);
    font-size: 30px;
    font-weight: 500;
    margin: 20px 10px 50px;
    width: 80px;
    border-radius: 5px;
    color: rgb(116, 116, 116);
}

#donate-today .average-amount {
    border: 2px solid rgb(255, 87, 68);
    background: rgb(255, 224, 222);
    color: rgb(255, 107, 91);
}

#donate-today .taka {
    color: rgb(151, 151, 151);
    border-bottom: 2px solid rgb(151, 151, 151);
}

#donate-today .donate-now {
    margin-top: 50px;
}

/* =================donate-today css end================ */

/* =================donate-plan css start================ */
#donate-plan {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#donate-plan h2 {
    font-weight: 500;
    font-size: 40px;
}

#donate-plan .ptag {
    color: rgb(95, 95, 95);
    padding: 20px 300px;
}

#donate-plan li {
    list-style: none;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 30px 30px 30px;
    text-align: left;
    background: rgb(255, 183, 183);
    padding: 30px 20px;
    text-align: left;
    border-radius: 5px;
}

#donate-plan .color1 {
    background: rgb(255, 239, 201);
}

#donate-plan .color2 {
    background: rgb(201, 255, 217);
}

#donate-plan .color3 {
    background: rgb(197, 233, 255);
}

#donate-plan h3 {
    padding-top: 10px;
}

#donate-plan .para2 {
    padding-top: 20px;
    color: rgb(137, 137, 137);
}

/* =================donate-plan css end================ */

/* =================lives-depend css start================ */
#lives-depend {
    /* background-color: rgb(251, 207, 255); */
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

#lives-depend .half1 {
    width: 50%;
    margin: 80px 50px 0px 120px;
    text-align: left;
}

#lives-depend .half1 h2 {
    font-weight: 500;
    font-size: 40px;
}

#lives-depend .half1 p {
    padding-top: 20px;
}

#lives-depend .half1 .contribute {
    background: rgb(255, 104, 87);
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 50px;
    color: white;
}

#lives-depend .half2 {
    width: 50%;
}

#lives-depend .half2 img {
    height: 500px;
    width: 80%;
}

/* =================lives-depend css end================ */

/* =================my-updates css start================ */
#my-updates {
    margin-top: 150px;
    /* background: rgb(223, 255, 212); */
    text-align: center;
    width: 100%;
    height: 300px;
}

#my-updates h2 {
    font-weight: 500;
    font-size: 40px;
}

#my-updates p {
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    color: rgb(133, 133, 133);
    font-size: 300;
}

#my-updates .box {
    width: 60%;
    /* background: rgb(255, 178, 255); */
    margin-top: 40px;
    display: inline-block;
}

#my-updates .box li {
    list-style: none;
    background: rgb(255, 127, 127);
    height: 30px;
    width: 100%;
    display: inline-block;
    margin: 0px 0px 30px;
    border-radius: 5px;
    text-align: center;
}

#my-updates .box .email {
    width: 30%;
    background: rgb(204, 204, 204);
}

#my-updates .box .subscribe {
    width: 20%;
}

/* =================my-updates css end================ */

/* =================footer css start================ */
#humble {
    margin-top: 50px;
    background: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    height: 150px;
}

#humble .be-humble {
    color: crimson;
    font-family: 'Splash', cursive;
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
}

#humble .do-it {
    color: white;
}

/* =================footer css end================ */