* {
    margin: 0;
    padding: 0;
}

/* =================container css start================ */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

section {
    height: 100vh;
}

#container {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.bg {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 80px 300px;
}

.bg h1 {
    font-weight: 500;
    font-size: 55px;
    width: 650px;
}

.para {
    font-size: 18px;
    width: 500px;
    padding-left: 70px;
    font-weight: 300;
}

.donate-now {
    background: rgb(255, 104, 87);
    width: 100px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    margin-top: 50px;
    display: inline-block;
    color: white;

}

/* =================container css end================ */

/* =================donate-today css start================ */
#donate-today {
    margin: 150px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#donate-today h2 {
    font-weight: 500;
    font-size: 40px;
}

#donate-today .para1 {
    width: 600px;
    padding: 20px 0px 40px 40px;
    color: rgb(85, 85, 85);
}

#donate-today li {
    list-style: none;
    display: inline-block;
    padding: 30px 20px;
    background: rgb(241, 241, 241);
    font-size: 30px;
    font-weight: 500;
    margin: 20px 10px 50px;
    width: 80px;
    border-radius: 5px;
    color: rgb(116, 116, 116);
}

#donate-today .average-amount {
    border: 2px solid rgb(255, 87, 68);
    background: rgb(255, 224, 222);
    color: rgb(255, 107, 91);
}

#donate-today .taka {
    color: rgb(151, 151, 151);
    border-bottom: 2px solid rgb(151, 151, 151);
}

#donate-today .donate-now {
    margin-top: 50px;
}

/* =================donate-today css end================ */

/* =================donate-plan css start================ */
#donate-plan {
    background: rgb(165, 255, 250);
}

/* =================donate-plan css end================ */